%container-shared {
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
}

%container-shared-small {
  margin: 0 auto;
  max-width: 1000px;
  width: 80%;
}

%container-shared-full {
  margin: 0 auto;
  width: 100%;
}
