.o-footerNewsletterSignup {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 1rem 0 2rem;
  width: 95%;

  form {

    input {
      -webkit-border-radius: 3rem;
      -moz-border-radius: 3rem;
      border-radius: 3rem;
      flex: 0 1 20%;
      padding: 1rem;
    }

    input[type="text"] {
      flex: 0 1 80%;
      margin-right: 1rem;
    }
  }
}
