.o-footerContent {
  @extend %container-shared;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4rem 0;

  .o-footerContentBlock {
    flex: 0 1 25%;

    @media(max-width: 500px) {
      flex: 0 1 100%;
    }

    &.o-footerContent__logo {

      @media(max-width: 900px) {
        flex: 0 1 100%;
        margin-bottom: 2rem;
        text-align: center;
      }
   }

    &.o-footerContent__socialLinks {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
    }
  }
}
