.o-generalbodySecondaryContent {
  @extend %container-shared;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;

  .o-generalbodySecondaryContent__contentContainer {
    flex: 0 1 60%;
    padding-right: 3rem;
  }
}
