.o-generalbodySecondaryContent {
  @extend %container-shared;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-bottom: 3rem;

  a {
    color: $color-yellow;
    text-decoration: none;
  }

  .o-generalbodySecondaryContent__contentContainer {
    flex: 0 1 60%;
    padding-right: 3rem;

    @media(max-width: 800px) {
      flex: 0 1 80%;
    }

    @media(max-width: 640px) {
      flex: 0 1 100%;
      padding-right: 0;
    }
  }

  h3 {
    font-family: $base-font-family;
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin: 1rem 0;
  }
}
