.o-introContent {
  @extend %container-shared;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 4rem;
  padding-top: 9rem;

  .o-introContent__subtitle {
    color: $color-yellow;
  }

  .o-introContent__content {
    @extend %main-body-padding-left;
  }
}
