.o-introContent {
  @extend %container-shared;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 4rem;
  padding-top: 9rem;

  .o-introContent__subtitle {
    color: $color-yellow;
  }

  .o-introContent__contentimage {
    flex: 0 1 40%;
    padding: 0 6rem 0 0;
  }

  .o-introContent__content {
    flex: 0 1 60%;
    padding-right: 3rem;
  }
}
