.o-introContent {
  @extend %container-shared;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 4rem;
  padding-top: 9rem;

  .o-introContent__subtitle {
    color: $color-yellow;
  }

  .o-introContent__content {
    @extend %main-body-padding-left;
  }

  .o-introContent__image {
    max-width: 350px;
    width: 100%;
  }
}

.o-introContent__link {
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  display: flex;
  justify-content: flex-start;
  position: relative;
  top: 530px;
  right: 34%;

  &.reveal {
    -webkit-transition: all 0.8s ease-in;
    -moz-transition: all 0.8s ease-in;
    -o-transition: all 0.8s ease-in;
    position: fixed;
    right: 10px;
    top: 180px;
  }
}
