.o-maincategoryintroContent {
  @extend %container-shared;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 0rem;

  .o-maincategoryintroContent__contenttitle {
    align-items: center;
    display: flex;
    flex: 0 1 40%;
    justify-content: flex-start;

    .o-maincategoryintroContent__title {
      font-family: $script-font-family;
      font-size: 5rem;
    }
  }

  .o-maincategoryintroContent__content {
    flex: 0 1 60%;
  }
}
