.o-newsbodyContent {
  @extend %container-shared;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  .m-bodyContent__content {
    flex: 0 1 100%;
    padding-left: 0px;
  }
}
