.o-programResources {
  @extend %container-shared-small;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  position: relative;

  &:before {
    border-bottom: 1px solid $color-beige;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
  }

  &:after {
    border-right: 1px solid $color-beige;
    content: "";
    display: block;
    position: absolute;
    height: 100%;

    @media(max-width: 840px) {
      content: none;
    }
  }

  .o-programResources--events {

    a {

      &:after {
        background: $color-brown;
      }
    }
  }

  .o-programResources--resources {

    a {
      &:after {
        background: $color-green;
      }
    }
  }
}

.o-programResources__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 1rem 0 0;

  @media(max-width: 840px) {
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
  }

  li {
    margin-bottom: 1rem;
    position: relative;

    @media(max-width: 840px) {
      flex: 0 1 75%;
    }

    a {
      color: $color-bodycopy;
      font-size: 1.25rem;
      text-decoration: none;

      &:after {
        background: $color-purple;
        bottom: -9px;
        content: '';
        height: 6px;
        left: 0;
        position: absolute;
        width: 6rem;
        -o-transition: .5s;
  		  -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
      }

      &:hover {

        &:after {
          width: 80%;
		      background: $color-yellow;
        }
      }
    }
  }
}
