.o-programResources {
  @extend %container-shared-small;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  &:before {
    border-bottom: 1px solid $color-beige;
    content: "";
    display: block;
    position: absolute;
    width: 80%;
  }

  &:after {
    border-right: 1px solid $color-beige;
    content: "";
    display: block;
    position: absolute;
    height: 80%;
  }
}
