.o-programResources {
  @extend %container-shared-small;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  &:before {
    border-bottom: 1px solid $color-beige;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
  }

  &:after {
    border-right: 1px solid $color-beige;
    content: "";
    display: block;
    position: absolute;
    height: 100%;
  }
}

.o-programResources__list {

  li {

    a {
      position: relative;

      &:hover {

        &:after {
          @extend %border-source;
          content: "";
          display: block;
          position: absolute;
          width: 100%;
        }
      }
    }
  }
}
