@import '../../../node_modules/slick-carousel/slick/slick.css';
.homepage__callToAction {
  background-color: $color-purple;
  }

.homepage__footerContent {
  background-color: $color-yellow;
}

.home {
  .o-navigationMenu {

    .o-navigationMenu__bottomRow a {
      color: $color-white;
    }
  }

  .homepage__nav {
    background-color: transparent;

    &.condensed {
      background-color: $color-white;
    }
  }

  .condensed {

    .o-navigationMenu {

      .o-navigationMenu__bottomRow a {
        color: $color-bodycopy;
      }
    }
  }
}
