.homepage__footerLinks {
  border-top: 1px solid $color-lightgray;
}

.homepage__callToAction {
  background-color: $color-purple;
  }

.homepage__footerContent {
  background-color: $color-yellow;
}
