.maincategory__caseStudy {
  background-color: $color-yellow;
}

.maincategory__callToAction {
  background-color: $color-purple;
}

.maincategory__footerContent {
  background-color: $color-yellow;
}
