.page-template-template-newsCategory {

  .m-navigationRow {

    .m-navigationRow__link {

      a {
        color: $color-white;

        &:hover {
          background-color: $color-white;
        }
      }

      &:hover > a {
        background-color: $color-white;
        color: $color-yellow;
      }

      ul {

        a {
          color: $color-bodycopy;
        }
      }
    }

    &.m-navigationRow--upper {

      a {
        background-color: $color-white;
        border: 2px solid $color-white;
        color: $color-bodycopy;
        font-size: .7rem;
      }

      .search-form {

        .search-field {
          border: none;
        }
      }
    }
  }

  .condensed {

    .m-navigationRow {

      .m-navigationRow__link {

        a {
          color: $color-bodycopy;
        }

        &:hover > a {
          background-color: $color-white;
          color: $color-yellow;
        }
      }
    }
  }

  a[href="#my-menu"] {

    &:before {
      background: $color-white;
      box-shadow:
        0 0.4em 0 0 $color-white,
        0 0.8em 0 0 $color-white;
    }
  }
}

.newsLanding__intro {

  .o-introContent {
    padding-bottom: 0rem;
  }
}

.newsLanding__bodyContentcallout {

  .m-bodyContent__calloutauthor {
    margin-top: 2rem;

    @media(max-width: 800px) {
      margin-top: .5rem;
    }
  }
}

.newsLanding__DonateLink {
  background-color: $color-lightgray;
  margin-top: 3rem;
}

.newsLanding__callToAction {
  background-color: $color-purple;
}

.newsLanding__footerContent {
  background-color: $color-yellow;
}
