.newsLanding__DonateLink {
  background-color: $color-lightgray;
}

.newsLanding__callToAction {
  background-color: $color-purple;
}

.newsLanding__footerContent {
  background-color: $color-yellow;
}
