.programLanding__resourceLinks {
  margin: 3rem 0;
}

.programLanding__relatedTopics {
  margin: 0 0 3rem;
}

.programLanding__callToAction {
  background-color: $color-purple;
}

.programLanding__footerContent {
  background-color: $color-yellow;
}
