.page-template-template-programLanding {

  .o-introContent__image {
    max-width: 300px;

    @media(max-width: 640px) {
      max-width: 160px;
    }
  }

  .programLanding__resourceLinks {
    margin: 3rem 0;
  }

  .programLanding__relatedTopics {
    margin: 0 0 3rem;
 }

  .programLanding__callToAction {
    background-color: $color-purple;
  }

  .programLanding__footerContent {
    background-color: $color-yellow;
  }

  .m-generalbodyContent__calloutimage {
    border-radius: 100%;
    max-width: 140px;
    width: 100%;
  }
}
