.page-template-template-sitemap {

  .generalLanding__bodyContent {
    margin-top: 7rem;

    image {
      display: none;
    }

    a {
      color: $color-yellow;
      text-decoration: none;
    }
  }
}
