.m-articleGridBlock {
  border-bottom: 1px solid #e7e7e8;
  list-style: none;
  margin: 0;
  padding: 3rem 4rem;

  li {

    a {
      display: flex;
      flex-direction: row;

      .m-articleGridBlock__imageContainer {
        flex: 0 1 20%;

        img {
          box-shadow: 20px 20px $color-purple;
        }
      }

      .m-articleGridBlock__titleContainer {
        display: flex;
        flex: 0 1 40%;
        flex-direction: column;
        justify-content: center;
        padding-left: 5rem;

        .o-introContent__subtitle {
          font-size: 1.8rem;
        }

        .o-introContent__title {
          font-size: 2.4rem;
          line-height: 2.8rem;
        }
      }

      .m-articleGridBlock__contentContainer {
        display: flex;
        flex: 0 1 40%;
        flex-direction: column;
        justify-content: center;
        padding-left: 2rem;
      }
    }
  }
}
