.m-footerContentLinks {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;

  li {
    color: $color-white;

    a {
      color: $color-white;
      font-family: $link-font-family;
      font-size: 1.2rem;
      text-decoration: none;

      &:hover {
        color: $color-purple;
      }
    }
  }
}
