.m-generalbodyPhotos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0px;
  padding: 3rem 0;

  li {
    flex: 0 1 20%;

    img {
        box-shadow: 20px -20px $color-yellow;
    }
  }

  .slick-prev {
    left: 2%;
    position: absolute;
    top: 48%;
    z-index: 5;
  }

  .slick-next {
    position: absolute;
    right: 2%;
    top: 48%;
    z-index: 5;
  }
}
