.m-maincategoryCaseStudy__content {

  .m-maincategoryCaseStudy__subtitle {
    color: $color-white;
  }

  .m-maincategoryCaseStudy__title {
    color: $color-white;
  }

  .m-maincategoryCaseStudy__paragraph {
    color: $color-white;
  }
}
