.m-maincategoryProgramLinks {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;

  li {
    flex: 0 1 25%;

    a {
      align-items: center;
      color: $color-bodycopy;
      display: flex;
      flex-direction: column;
      text-align: center;
      text-decoration: none;

      img {
        flex: 01 100%;
        max-width: 200px;
      }

      span {
        flex: 01 100%;
        width: 100%;
      }
    }
  }
}
