.m-navigationRow {
  align-items: center;
  display: flex;
  height: 100%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;

  .m-navigationRow__link {
    align-items: center;
    display: none;
    height: 100%;

    a {
      color: $color-bodycopy;
      font-family: $link-font-family;
      font-size: 1rem;
      font-weight: $font-regular;
      letter-spacing: .08rem;
      line-height: 1rem;
      padding: 1rem;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;

      &:hover {
        color: $color-yellow;
      }
    }

    &:hover > a {
      background-color: $color-white;
      color: $color-yellow;
    }

    @media(min-width: 768px) {
      display: flex;
    }

    &.m-navigationRow__link--button,
    &.m-navigationRow__link--menuToggle {
      padding-right: 0;
    }

    &.m-navigationRow__link--menuToggle {
      display: block;

      @media(min-width: 768px) {
        display: none;
      }
    }
  }

  .m-navigationRow__anchor {
    align-self: center;
    color: $black;
    font-size: .7rem;
    font-weight: $font-bold;
    letter-spacing: .05rem;
    text-transform: uppercase;

    .m-navigationRow__image {
      height: 55px;
      display: block;
    }
  }

  &.m-navigationRow--upper {

    li {
      display: flex;
      padding: 0 .5rem;

      @media(max-width: 500px) {
        padding: 0 .25rem;
      }

      &#menu-item-32 {

        span {

          @media(max-width: 500px) {
            display: none;
          }
        }
      }
    }

    a {
      border: 1px solid $color-bodycopy;
      border-radius: 2rem;
      font-size: .9rem;
      padding: .25rem .5rem;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;

      img {
        max-width: 20px;

        @media(max-width: 500px) {
          margin-right: 0;
        }
      }
    }
  }
}

#menu-primary {

  li {
    position: relative;

    &#menu-item-24,
    &#menu-item-72 {
      position: inherit;

      ul {
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding: 1rem 2rem;
        top: 63px;
        width: 100%;

        li {

          a {
            justify-content: center;
          }
        }

        ul {
          padding: 0;
          top: 0;

          li {

            a {
              justify-content: flex-start;
            }
          }
        }
      }
    }

    &:hover ul ul {
      position: relative;
      top: 0px;
    }

    ul {
      background: rgba(255,255,255,1);
      display: none;
      flex-wrap: wrap;
      left: 0px;
      padding: 0px;
      position: absolute;
      top: 40px;

      li {
        flex-direction: column-reverse;

        a {
          display: flex;
          flex-wrap: wrap;
          font-size: 1.15rem;
          line-height: 1.3rem;
          text-transform: capitalize;
          width: 100%;
        }

        img {
          max-width: 50px;
          margin-right: 0;
        }

        span {
          flex: 0 1 100%;
          text-align: center;
          padding-top: 1rem;
        }

        ul {
          flex-direction: column;
          padding: 0;
          position: relative;

          li {

            a {
              font-size: .95rem;
              font-weight: $font-regular;
              justify-content: flex-start;
              line-height: 1rem;
              padding: .5rem 1rem;
            }
          }
        }
      }
    }
  }
}

.condensed {

  #menu-primary li,
  #menu-top {

    &:hover ul {
      top: 25px;
    }

    a {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    }
  }

  #menu-primary {

    li {
      &#menu-item-24,
      &#menu-item-72 {

        ul {
          top: 50px;

          ul {
            top: 0;
          }
        }
      }
    }
  }

  .m-navigationRow {

    &.m-navigationRow--upper {

      a {
        border: none;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
      }

      .search-form {

        .search-field {
          border: none;
        }
      }
    }
  }
}
