.m-programResources__contentimage {

  .m-programResources__image {
    max-width: 150px;
  }
}

.m-programResourcesGroup {
  display: flex;
  flex: 0 1 35%;
  flex-direction: column;
  margin-top: 3rem;
  padding: 0 3rem;

  .m-programResources__content {

    .o-programResources__list {
      list-style: none;
      margin: 0px;
      padding: 0px;

      li {
        padding-bottom: 1rem;

        a {
          font-size: 1.5rem;
        }
      }
    }
  }
}
